
h1{
     text-align: center;
     background-color: cyan;
     text-shadow: rebeccapurple 4px 2px;

}
.fav{
    text-align: center;
    background-color:darkgreen;
    text-shadow: greenyellow 3px 2px;
    color:white;
}
.football{
    text-align: justify;
    background-color: darkgreen;
    color: white;
    font-size: 25px;
    border: 10px dashed white;
    border-radius: 20px;
    margin: 50px;
    padding: 25px;
}
.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px solid yellow;
}
a{
    color: white;
}
p{
    text-align: center;
    font-size: 30px;

}

.messi{
    border: 10px solid skyblue;
}
.ronaldo{
    border: solid 10px red;
}
.brazil{
    border: darkgreen 10px solid;
    background-color: darkgreen;
    margin-right: 400px;
    margin-left: 400px ;
    color: yellow;
}
.arg{
    margin-right: 400px;
    margin-left: 400px ;
    border: skyblue 10px solid;
    background-color: skyblue;
    color: white;
}
.por{
    margin-right: 400px;
    margin-left: 400px ;
    border: red 10px solid;
    background-color: red;
    color: green;
}
.favo {
    text-align: center;
    background-color: navy;
    color: white;
    text-shadow: cyan 3px 2px;
}
.cricket{
    text-align: justify;
    background-color: greenyellow;
    color: red;
    border: dashed white 10px;
    font-size: 25px;
    border-radius: 25px;
    margin: 60px;
    padding: 30px;
}
.icc{
    color: red;
}
.sha{
    border: darkgreen 10px solid;
}
.bd{
    border: darkgreen 10px solid;
    margin-left: 400px;
    margin-right: 400px;
    background-color: darkgreen;
    color: red;
}
.ind{
    background-color: skyblue;
    margin-right: 400px;
    margin-left: 400px;
    border: skyblue 10px solid;
    color: orangered;
}
.ms{
    border: skyblue 10px solid;
}
.aus{
    background-color: yellow;
    margin-right: 400px;
    margin-left: 400px;
    color: blue;
}
.st{
    border:skyblue 10px solid;
 
}
.mamba{
    text-align: center;
    background-color: black;
    color: aqua;
    text-shadow: whitesmoke 3px 2px;
}
.basketball{
    text-align: justify;
    background-color: orangered;
    color: black;
    border: black dashed 10px;
    font-size: 25px;
    border-radius: 25px;
    margin: 60px;
    padding: 30px;
}
.nba{
    color: black;
}
.james{
    border: purple 10px solid;
}
.lal{
    border: purple 10px solid;
    background-color: purple ;
    color: gold;
    margin-left: 400px;
    margin-right: 400px;
}
.jordan{
    border: red 10px solid;
}
.cb{
    border: red 10px solid;
    background-color: red;
    color: black;
    margin-right: 400px;
    margin-left: 400px;
}